

.card {
    outline: none;
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0, .2), 0 0 3px rgba(0,0,0, .3);
    color: white;
    text-decoration: none;

    transition: .2s; 

    &:hover, /* .card:hover */
    &:focus {
        transform: scale(1.03) skew(0);
        transform-origin: bottom;
        box-shadow: 0 7px 8px rgba(0,0,0, .05), 0 3px 3px rgba(0,0,0, .01);
    }

    &:nth-child(1) {
        background-image: linear-gradient(to top, blue 10%, red 20%, yellow 50%);
    }

    &:nth-child(2) {
        background-image: linear-gradient(to top, black 0%, grey 30%);
    }

    &:nth-child(3) {
        background-image: linear-gradient(to top, orange 20%, green 40%);
    }

    &:nth-child(4) {
        background-image: linear-gradient(to top, black 10%, gold 30%);
    }

    &:nth-child(5) {
        background-image: linear-gradient(to top, black 10%, yellow 30%);
    }

    &:nth-child(6) {
        background-image: linear-gradient(to top, olive 10%, gold 30%, red 50%);
    }

    &:nth-child(7) {
        background-image: linear-gradient(to top, blueviolet 20%, red 30%);
    }

    &:nth-child(8) {
        background-image: linear-gradient(to top, black 10%, grey 30%);
    }

    &:nth-child(9) {
        background-image: linear-gradient(to top, black 10%, grey 30%);
    }

    &:nth-child(10) {
        background-image: linear-gradient(to top, black 10%, grey 30%);
    }



    &__image-container {
        height: 200px;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);

    }

    &:hover &__image-container,
    &:focus &__image-container {
        clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s;
    }

    &:hover &__image,
    &:focus &__image {
        transform: scale(1.4);
        transform-origin: center;
    }

    &__content {
        padding: 1em;
        font-size: small;
    }

    @media (min-width: 1024px) {
        & { /* .card */
            min-width: 240px;
        }
    }

    @media (min-width: 426px) and (max-width: 768px) {
        & {
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }

        &__article { /* .card__article */
            display: flex;
        }

        & &__image-container { /* .card .card_image-container */
            width: 40%;
            clip-path: polygon (0 0, 100% 0, 95% 100%, 0% 100%);
        }

        &:hover &__image-container, /* .card:hover .card__image-container  */
        &:focus &__image-container { /* .card:focus .card__image-container */
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}
